<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android='http://schemas.android.com/apk/res/android'
    package='org.openlivestacker'
    android:versionCode='100'
    android:versionName='beta12'
    android:extractNativeLibs="true"
    >
    <uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="33"
        />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application android:label='Open Live Stacker' android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        >
        <activity android:name='org.openlivestacker.LiveStackerMain' android:exported="true">
            <intent-filter>
                <category android:name='android.intent.category.LAUNCHER'/>
                <action android:name='android.intent.action.MAIN'/>
                </intent-filter>
            </activity>
        <activity android:name="org.openlivestacker.WViewActivity"
            android:configChanges="screenSize|smallestScreenSize|orientation|screenLayout" />
    </application>
</manifest>
